# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - StrapiOnAzure

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to registry
      uses: docker/login-action@v1
      with:
        registry: https://strapionazure.azurecr.io/
        username: ${{ secrets.AzureAppService_ContainerUsername_0a94bc706c954e9bb6022efd93d342fa }}
        password: ${{ secrets.AzureAppService_ContainerPassword_4a3059d31bfc46d0a973588af3855d5f }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: strapionazure.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_0a94bc706c954e9bb6022efd93d342fa }}/strapionazure:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'StrapiOnAzure'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_e278fdf340834431891d9e0b36b9a2d0 }}
        images: 'strapionazure.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_0a94bc706c954e9bb6022efd93d342fa }}/strapionazure:${{ github.sha }}'